@using StarWars.Characters.Enums
@model StarWars.Characters.Models.CharacterVM

@{
    ViewData["Title"] = "Редактирование персонажа";
}


<div class="container text-white">
    <h1>Редактирование персонажа</h1>
    <hr />
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Имя
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                Ссылка на изображение
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                Дата рождения
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                Планета
                <input asp-for="Planet" class="form-control" />
                <span asp-validation-for="Planet" class="text-danger"></span>
            </div>
            <div class="form-group">
                Пол
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                Раса
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                Рост
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                Цвет волос
                <input asp-for="HairColor" class="form-control" />
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                Цвет глаз
                <input asp-for="EyeColor" class="form-control" />
                <span asp-validation-for="EyeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                Описание
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                Фильмы (через запятую)
                @{
                    string movies = string.Join(',', Model!.Movies!);
                }
                <input asp-for="@movies" class="form-control" />
                <span asp-validation-for="Movies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-danger mt-2" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-outline-danger mt-2">Назад к списку</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
